<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <queries>
        <package android:name="com.garmin.android.apps.connectmobile" />
    </queries>

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <permission android:name="${applicationId}.permission" />
    <uses-permission android:name="${applicationId}.permission" />
    <uses-permission android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" tools:node="remove" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> <!-- Permissions needed for Samsung Gear watches -->
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.location.gps" /> <!-- Desde API21 es necesario -->
    <uses-permission android:name="com.samsung.wmanager.APP" />
    <uses-permission android:name="com.samsung.wmanager.ENABLE_NOTIFICATION" />
    <uses-permission android:name="com.samsung.accessory.permission.ACCESSORY_FRAMEWORK" />
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />
    <uses-permission android:name="com.samsung.WATCH_APP_TYPE.Companion" />
    <uses-permission-sdk-23 android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_TYPE_LOCATION" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".WheelLog"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_scheme"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:supportsRtl="true"
        android:theme="@style/OriginalTheme"
        tools:targetApi="n">
        <activity android:name=".map.MapActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".SplashActivity"
            android:theme="@style/SplashTheme"
            android:noHistory="true" />
        <activity
            android:name=".MainActivity"
            android:supportsPictureInPicture="true"
            android:configChanges="smallestScreenSize|screenLayout|orientation|screenSize"
            android:launchMode="singleTask">
            <layout
                android:defaultWidth="200dp"
                android:defaultHeight="400dp"
                android:gravity="top"
                android:minWidth="200dp"
                android:minHeight="200dp" />
        </activity>
        <!-- <activity-alias used to change app icon dynamically>   : default icon, set enabled true    -->
        <activity-alias
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:name=".OriginalIconAlias"
            android:enabled="true"
            android:targetActivity=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:label="@string/app_name"
            android:icon="@drawable/ajdm_notification_icon"
            android:name=".AjdmIconAlias"
            android:enabled="false"
            android:targetActivity=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity
            android:name=".ScanActivity"
            android:theme="@style/OriginalTheme.Dialog.Alert" />

        <service android:name=".PebbleService"
            android:foregroundServiceType="connectedDevice"
            android:exported="false" />
        <service android:name=".BluetoothService"
            android:foregroundServiceType="connectedDevice"
            android:exported="false" />
        <service android:name=".LoggingService"
            android:foregroundServiceType="location"
            android:exported="false" />
        <service android:name="com.cooper.wheellog.GearService"
            android:foregroundServiceType="connectedDevice"
            android:exported="false" /> <!-- Services needed for Samsung Gear watches -->
        <service android:name="com.cooper.wheellog.GarminConnectIQ"
            android:foregroundServiceType="connectedDevice"
            android:exported="false" /> <!-- Services needed for Garmin ConnectIQ devices -->

        <receiver
            android:name=".PebbleBroadcastReceiver"
            android:exported="true"
            android:permission="${applicationId}.permission">
            <intent-filter>
                <action android:name="com.getpebble.action.app.RECEIVE" />
                <action android:name="com.getpebble.action.app.RECEIVE_ACK" />
                <action android:name="com.getpebble.action.app.RECEIVE_NACK" />
            </intent-filter>
        </receiver>
        <!-- Receivers needed for Samsung Gear watches -->
        <receiver android:name="com.samsung.android.sdk.accessory.ServiceConnectionIndicationBroadcastReceiver"
            android:exported="true"
            android:permission="${applicationId}.permission">
            <intent-filter>
                <action android:name="com.samsung.accessory.action.SERVICE_CONNECTION_REQUESTED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.samsung.android.sdk.accessory.RegisterUponInstallReceiver"
            android:exported="true"
            android:permission="${applicationId}.permission">
            <intent-filter>
                <action android:name="com.samsung.accessory.action.REGISTER_AGENT" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="AccessoryServicesLocation"
            android:value="/res/xml/sapservices.xml" />
        <meta-data
            android:name="GearAppType"
            android:value="wgt" />
    </application>

</manifest>
