# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Gradle CI

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  gradle-build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Test
      run: ./gradlew test

    - name: Assemble
      run: ./gradlew assembleDebug -Dec_accessToken="${{ secrets.EC_TOKEN }}"

    - name: Get APK
      uses: actions/upload-artifact@v2.2.2
      with:
        name: app-debug
        path: app/build/outputs/apk/debug/app-debug.apk

    - name: Send apk to telegram
      if: ${{ github.event_name == 'pull_request' && secrets.TELEGRAM_TO != '' }}
      uses: appleboy/telegram-action@master
      with:
        to: ${{ secrets.TELEGRAM_TO }}
        token: ${{ secrets.TELEGRAM_TOKEN }}
        message: |
          ${{ github.event.pull_request.title }}
          ${{ github.base_ref }} <= ${{ github.head_ref }}
          PR: https://github.com/Wheellog/Wheellog.Android/pull/${{github.event.number}}
        document: app/build/outputs/apk/debug/app-debug.apk
